{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
    p {
        margin: 0.5rem 0!important;
    }

    @media only screen and (max-width: 600px) {
        form {
            text-align: center;
        }
    }
</style>
{% endblock %}
</style>
{% block body %} 
<div class="w3-container w3-padding-large" style="margin-right: 5%; margin-left: 5%; margin-bottom: 1%; margin-top: 1%;">
    {%if msg%}
    <div class="alert alert-info" role="alert">
       {{msg}}
    </div>
    {%endif%}
   
    
    <h2 style="margin-left:10px;">Sent us your review</h2>

    <hr class="w3-opacity">
    <form action="/review/" method="post">
        {% csrf_token %}
        <div class="w3-section">
            <label>Subject</label>
            <input class="w3-input w3-border" type="text" name="subject" required>
        </div>
        <div class="w3-section">
            <label>Email</label>
            <input class="w3-input w3-border" type="text" name="email" required>
        </div>
        <div class="w3-section">
            <label>Message</label>
            <input class="w3-input w3-border" type="text" name="body" required>
        </div>
        <button type="submit" class="w3-button w3-black"><i class="fa fa-paper-plane w3-margin-right"></i>Send Review</button>
    </form>
    <div class="w3-row-padding w3-center w3-padding-24" style="margin:0 -16px">
        <div class="w3-third w3-dark-grey">
            <p><i class="fa fa-envelope w3-xxlarge w3-text-light-grey"></i></p>
            <p>obokash_support@gmail.com</p>
        </div>
        <div class="w3-third w3-teal">
            <p><i class="fa fa-map-marker w3-xxlarge w3-text-light-grey"></i></p>
            <p></p>
        </div>
        <div class="w3-third w3-dark-grey">
            <p><i class="fa fa-phone w3-xxlarge w3-text-light-grey"></i></p>
            <p>01791455303</p>
        </div>
    </div>
    <div class="w3-panel w3-large w3-center">
        <p style="font-size: x-small;">
            Our tastefully decorated rooms offer a cozy and inviting atmosphere, ensuring you feel right at home during your visit. Whether you're in town for business or leisure, our well-appointed accommodations are designed to cater to your every need. Experience a relaxing stay with us, where hospitality meets affordability. Book your room with Obokash Room Rental today and discover your home away from home.
        </p>
    </div>
</div>
{% endblock %}